# .env 文件配置示例

# 监听端口
PORT=5006

# 安全与授权码
API_PREFIX=
AUTHORIZATION=admin

# 网络与网关代理
CHATGPT_BASE_URL=https://chatgpt.com
PROXY_URL=
EXPORT_PROXY_URL=
CF_FILE_URL=

# 接口机制
HISTORY_DISABLED=true
RETRY_TIMES=3
ENABLE_LIMIT=true
